{% extends "layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block pageTitle %}Check Your Answers<{% endblock %}

{% set mySelections %}
  {% if selections is defined and selections.length > 0 %}
    {{ selections | join('<br>') | safe }}
  {% else %}
    No selections
  {% endif %}
{% endset %}

{% block content %}
  <h1 class="govuk-heading-l">Check your answers</h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Sort by selections"
        },
        value: {
          html: mySelections
        },
        actions: {
          items: [
            {
              href: "/sort-by",
              text: "Add",
              visuallyHiddenText: "add"
            }
          ]
        }
      }
    ]
  }) }}

{% endblock %}
